mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.bg_blue.section#sServices&attributes(attributes)
		.container
			+b.section-title.text-center(data-aos="fade-up")
				.h1 Система мониторинга показателей #[span “под ключ”]
			+e.row(data-aos="fade-up")
				+serviceCard('Монтаж', '', 'service-1')
				+serviceCard('Аренда системы', 'Список пополняется — мы постоянно работаем над интеграцией новых систем в платформу Unimon', 'service-2')
				+serviceCard('Валидация системы', 'Список пополняется — мы постоянно работаем над интеграцией новых систем в платформу Unimon', 'service-3')
				+serviceCard('Настройка оборудования', 'Список пополняется — мы постоянно работаем над интеграцией новых систем в платформу Unimon', 'service-4')
				+serviceCard('Картирование помещения', 'Список пополняется — мы постоянно ', 'service-5')
				+serviceCard('Техническое обслуживание', 'Список пополняется — мы постоянно работаем над интеграцией новых систем в платформу Unimon', 'service-6')
				+e.btn.service-card.service-card--btn(href='#') Отправить заявку
					+icon('arrow-angle-right')
	// end sServices

mixin serviceCard(title, p, img)
	+b.service-card
		+e.description
			+e.title.text_gradient= title
			p= p
		+e.img-wrap: +img(src=`img/${img}.png`, alt="")
