mixin sBlog(data)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container 
			+e.navigation.row
				+e.col.d-none.d-md-block.col-12.col-lg-7
					+e.item-left
						a(href='#').title.title_active Все
						a(href='#').title Рубрика 1
						a(href='#').title Рубрика 2
						a(href='#').title Рубрика 3
						a(href='#').title Рубрика 4
				+e.col.col
					+e.item
						+input("Все рубрики",'select','')
						+search
			+e.row-cards.row
				+e.col.col-12.col-md-6.col-xl-4
					+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#безопасность', '#надежность')
				+e.col.col-12.col-md-6.col-xl-4
					+blogCard('example.jpg', 'Виды мониторинга температуры', 'In the ever-evolving landscape of the Internet of Things (IoT), connectivity is the key to unlocking', '01.04.2024', '#рубрика', '#рубрика')
				+e.col.col-12.col-md-6.col-xl-4
					+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#рубрика', '#рубрика')
				+e.col.col-12.col-md-6.col-xl-4
					+blogCard('example.jpg', 'Виды мониторинга температуры', 'In the ever-evolving landscape of the Internet of Things (IoT), connectivity is the key to unlocking', '01.04.2024', '#рубрика', '#рубрика')
				+e.col.col-12.col-md-6.col-xl-4
					+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#рубрика', '#рубрика')
				+e.col.col-12.col-md-6.col-xl-4
					+blogCard('example.jpg', 'Виды мониторинга температуры', 'In the ever-evolving landscape of the Internet of Things (IoT), connectivity is the key to unlocking', '01.04.2024', '#рубрика', '#рубрика')
				+e.col.col-12.col-md-6.col-xl-4
					+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#рубрика', '#рубрика')
			.btn-wrap.text-center: +e.btn.btn.btn-outline-primary(href='#') Показать еще
	// end sBlog


mixin blogCard(img, title, text, date, ...tags)
	+b.A.blog-card(href='#')
		+e.content
			+e.img-wrap: +img(`img/${img}`, 'bg')
			+e.title.fw-700.text_gradient!= title
			+e.text!= text
		+e.footer
			+e.tags
				+e.tag.text_gradient!= tags[0]
				if tags[1]
					+e.tag!= tags[1]
			+e.date!= date