// start .sProductSlider
.sProductSlider {
	--sPT: #{rem(46)};
	--sPB: #{rem(50)};
	--sTPB: #{rem(60)};
  
  @include media-breakpoint-up(xl) {
    --sPT: #{rem(100)};
    --sPB: #{rem(80)};
    --sTPB: #{rem(40)};
  }
	background: linear-gradient(180deg,
  #b3d0dc 0%,
  #e6eef1 100%),
  linear-gradient(180deg, rgba(230, 238, 241, 0) 0%, #e6eef1 100%), linear-gradient(180deg, rgba(146, 193, 211, 0.63) 0%, rgba(230, 238, 241, 0.63) 100%);
	&__row{
    @include media-breakpoint-down(sm) {
      max-width: rem(400);
      margin: auto;
    }
	}

  .row1 {
    @include media-breakpoint-down(xl) {
      flex-direction: column-reverse;
    }
  }
	.section-title{
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
    &--right {
      @include media-breakpoint-up(xl) {
        max-width: 66%;
        margin-left: auto;
      }
    }
	}

  .h1 {
    @include media-breakpoint-up(md) {
      font-size: rem(55);
      margin-bottom: rem(20);
    }
  }

  .col_top {
    @include media-breakpoint-up(xl) {
      transform: translateY(-70px);
    }
    
    @media (min-width: 1700px) {
      transform: translateY(0);
    }
  }

  .sub-title {
    letter-spacing: -0.05em;
    opacity: .7;
    font-size: rem(16);
    line-height: 150%;
    @include media-breakpoint-up(lg) {
      font-size: rem(27);
      line-height: 89%;
    }
  }

  &__features-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: repeat(3, 1fr);
    margin-bottom: rem(22);

    @media(min-width: 416px) {
      grid-template-columns: repeat( 2, 49%);
    }
    gap: rem(7) rem(5);
    @include media-breakpoint-up(lg) {
      gap: rem(11) rem(15);
      grid-template-columns: repeat( 3, 33%);
    }
  }

  &__btn {
    --bs-btn-padding-x: #{rem(10)};
    --bs-btn-padding-y: #{rem(16)};
    @include media-breakpoint-up(md) {
      font-size: rem(20);
      --bs-btn-padding-x: #{rem(60)};
      --bs-btn-padding-y: #{rem(30)};
    }
  }

  &__btn-wrap {
    @include media-breakpoint-up(xl) {
      margin-top: rem(72);
    }
    @include media-breakpoint-up(md) {
      .btn {
        // font-size: rem(20);
        // --bs-btn-padding-x: #{rem(60)};
        // --bs-btn-padding-y: #{rem(30)};
        &:not(:last-child) {
          margin-right: rem(26);
        }
      }
    }
    @include media-breakpoint-down(md) {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(170px, 1fr) );
      gap: rem(5);
    }
  }

  .col-12 {
    position: relative;
  }
  .span-wrapper-bg {
    height:auto;
    z-index: 0;
    top: 44%;
    @include media-breakpoint-up(xl) {
      top: 25%;
    }
    @include media-breakpoint-up(xxl) {
      top: 30%;
    }
  }
  .span-wrapper-bg .span {
    width: 180px;
    height: 180px;
    &::before {
      width: 250px;
      height: 250px;
    }
    &:after {
      width: 50px;
      height: 50px;
    }
    @include media-breakpoint-up(xl) {
      width: 250px;
      height: 250px;
      &::before {
        width: 350px;
        height: 350px;
      }
      &:after {
        width: 150px;
        height: 150px;
      }
    }

  }
  @include media-breakpoint-down(xl) {
    .swiper-button-hand-next {
      right: 15%;
    }
    .swiper-button-hand-prev {
      left: 15%;
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper-button-hand-next {
      right: 20px;
    }
    .swiper-button-hand-prev {
      left: 20px;
    }
  }

  .swiper-wrapper {
    align-items: center;
  }
  .swiper_vertical {
    @media (min-width: 1700px) {
      max-height: rem(420);
      position: absolute;
      top: 0;
      right: 100%;
      width: rem(100);
    }
  }
  @media (min-width: 1700px) {
    .arrow-wrapThumb2 {
      .swiper-button-hand {
        left: -60px;
      }
    }
    .arrow-wrapThumb2 .swiper-button-prev {
      top: -40px;
      bottom: auto;
      transform: rotate(90deg);
    }
    .arrow-wrapThumb2 .swiper-button-next {
      bottom: 40px;
      top: auto;
      transform: rotate(90deg);
    }
  }

  &__thumb-wrap {
    max-width: 80%;
    margin: auto;
    position: relative;
  }
  &#sProductSlider2 {
    .sProductSlider__thumb-wrap {
      @media (min-width: 1700px) {
        position: static;
      }
    }
    .btn {
      min-width: rem(188);
      @include media-breakpoint-up(xl) {
        --bs-btn-padding-x: #{rem(30)};
      }
    }
    .sProductSlider__btn-wrap {
      @include media-breakpoint-up(xl) {
        margin-top: rem(40);
      }
    }
  }

  &__slider-wrap {
    @include media-breakpoint-down(xl) {
      max-width: rem(150);
      margin: auto;
      margin-bottom: rem(82);
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: rem(50);
      position: relative;
    }
    img {
      max-width: 100%;
      @include media-breakpoint-up(xl) {
        max-width: 70%;
      }
    }
  }

  .slide-item-1 {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    img {
      max-width: 100%;
    }
  }

  .sProdCard-slider-js {
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProductSlider


.product-feature-card {
  background: rgba(255, 255, 255, 0.6);
  border-radius: rem(8);
  border: 1px solid $white;
  gap: rem(10);
  padding: rem(8) rem(10);
  min-height: rem(78);
  display: grid;
  grid-template-columns: .7fr 1fr;

  @media(min-width: 416px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
	@include media-breakpoint-up(lg) {
    padding: rem(28);
    gap: rem(14);
  }

  &__title {
    font-size: rem(12);
    font-weight: 500;
    line-height: 133%;
    letter-spacing: -0.05em;
    @include media-breakpoint-up(lg) {
      font-size: rem(20);
    }
  }

  &__img-wrap {
    @include media-breakpoint-down(sm) {
      max-height: rem(26);
    }
    max-height: rem(20);
    @include media-breakpoint-up(lg) {
      max-height: rem(47);
    }
    img {
      height: 100%;
    }
  }

  &--icons {
    .icons-wrap {
      display: flex;
      gap: rem(2);
      @include media-breakpoint-up(lg) {
        gap: rem(12);
      }
    }

    .wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(6);
    }

    .img-wrap {
      @include media-breakpoint-down(sm) {
        width: rem(26);
        height: rem(26);
      }
      border: 1px solid rgba(55, 147, 174, 0.47);
      width: rem(22);
      height: rem(22);
      border-radius: rem(4);
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-up(lg) {
        width: rem(52);
        height: rem(52);
        border-radius: rem(8);
      }
      &.inactive {
        opacity: .4;
      }
    }

    img {
      width: 50%;
    }

    .descr {
      font-size: rem(6);
      @include media-breakpoint-up(lg) {
        font-size: rem(11);
      }
    }
  }

  &--flex {
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #71AFC7;
    align-items: center;
    @include mt;
    justify-content: center !important;
    &:hover {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .18);
    }

  }

}