mixin sProductSlider(data)
	// start sProductSlider
	+b.SECTION.sProductSlider.section#sProductSlider&attributes(attributes)
		.container
			+b.section-title
				.h1 Контроллер AlertBox Radio
				.sub-title Флагманская модель с полным функционалом
			+e.row.row
				+e.col.col-12.col-lg-8
					+e.features-wrapper
						+productFeatureCard('feature-1', 'Беспроводные датчики и реле')
						+productFeatureCard('feature-2', 'Встроен аккумулятор для резервного питания')
						+b.product-feature-card--icons
							.icons-wrap
								.wrap
									.img-wrap: +img(src="img/GSM.svg", alt="")
									.descr.text_gradient GSM
								.wrap
									.img-wrap: +img(src="img/wifi.svg", alt="")
									.descr.text_gradient Wi-Fi
								.wrap
									.img-wrap.inactive: +img(src="img/lan.svg", alt="")
									.descr.text_gradient Ethernet
							+e.title.text_gradient Два канала для связи с сервером
						+productFeatureCard('feature-3', 'Проводные датчики и модули ввода-вывода')
						+productFeatureCard('feature-4', 'Буферизация данных при потери связи с сервером')
						+productFeatureCard('feature-5', 'Компактные размеры')
					+e.btn-wrap
						+e.btn.btn.btn-primary(href='#') Рассчитать стоимость системы
						+e.btn.btn.btn-outline-primary(href='#') Подробнее
				+e.col.col-12.col-lg-4
					+e.slider-wrap
						.swiper.sProdCard-slider-js
							mixin sProdCardSlide(imgNum)
								.swiper-slide
									+e.s-img(href=`img/product-${imgNum}.png` data-fancybox='sProdCardSlide')
										img(loading="lazy" src=`img/product-${imgNum}.png` alt="")
							.swiper-wrapper
								+sProdCardSlide('1')
								+sProdCardSlide('2')
								+sProdCardSlide('3')
								+sProdCardSlide('1')
								+sProdCardSlide('2')
								+sProdCardSlide('3')
					+e.thumb-wrap.d-none.d-lg-block
						.swiper.sProdCard-thumb-js
							mixin sProdCardThumb(imgNum)
								.swiper-slide
									.slide-item-1
										.wrapper: img(loading="lazy" src=`img/product-${imgNum}.png` alt="")
							.swiper-wrapper
								+sProdCardThumb('1')
								+sProdCardThumb('2')
								+sProdCardThumb('3')
								+sProdCardThumb('1')
								+sProdCardThumb('2')
								+sProdCardThumb('3')
	// end sProductSlider

mixin sProductSlider2(data)
	// start sProductSlider
	+b.SECTION.sProductSlider.section#sProductSlider2&attributes(attributes)
		.container
			+b.section-title
				.h1 Радиомодуль AlertNode RTD Max
				.sub-title Флагманская модель с полным функционалом
			+e.row.row
				+e.col.col-12.col-lg-4
					+e.btn-wrap
						+e.btn.btn.btn-primary(href='#') Рассчитать стоимость системы
				+e.col.col-12.col-lg
					+e.features-wrapper
						+productFeatureCard('feature-1', 'Беспроводные датчики и реле')
						+productFeatureCard('feature-11', 'Встроен аккумулятор для резервного питания')
						+productFeatureCard('feature-12', 'Встроенная память')
						+productFeatureCard('feature-13', 'Дальность до 500 м')
						+productFeatureCard('feature-14', 'Встроенный сенсор температуры и влажности')
	// end sProductSlider


mixin productFeatureCard(img, title)
	+b.product-feature-card
		+e.img-wrap
			+img(src=`img/${img}.svg`, alt="")
		+e.title.text_gradient= title