mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+form-wrap
				h2 Хотите получать новости?
				+e.row.row
					+e.col.col-md-5
						p Оставьте ваш  электронный адрес и будьте в курсе последних новостей
					+e.col.col-md-7
						.d-flex
							+input("Адрес электронной почты",'email')
							+e.btn.btn.btn-primary(type="submit") Отправить заявку
						+policy
	// end sForm