
	// start .sForm
	.sForm {
		--sPT: #{rem(0)};
    --sPB: #{rem(33)};
	// --sTPB: #{rem()};
    @include media-breakpoint-up(md) {
      --sPB: #{rem(58)};
    }
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
  h2 {
  margin-bottom: rem(12);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(26);
    }
  }

  p {
    font-size: rem(11);
    max-width: rem(340);
    color: $gray-600;
    opacity: .5;
    @include media-breakpoint-up(md) {
      font-size: rem(16);
    }
  }
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

  .form-wrap {
    padding: rem(24) rem(26) rem(30) rem(30);
    &__input-wrap {
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
    @include media-breakpoint-up(lg) {
      padding: rem(77) rem(71) rem(45) rem(91);
    }

    &__policy {
      @include media-breakpoint-down(md) {
        max-width: rem(270);
      }
    }
  }
  .d-flex {
    gap: rem(8);
    flex-wrap: wrap;
    margin-bottom: rem(24);
    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      margin-bottom: rem(32);
    }
  }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sForm

.form-control {
  --bs-border-radius: #{rem(50)};
  line-height: 1.7;
  &::placeholder {
    opacity: .8;
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
  }
  padding: rem(12) rem(30);
	@include media-breakpoint-up(md) {
    font-size: rem(14);
    padding: rem(20) rem(36);
  }
}

.form-wrap {
  background: $gradient-light;
  border-radius: $border-radius;
  &__btn {
    margin-bottom: 0;
  }
	@include media-breakpoint-up(md) {
    border-radius: $border-radius-xl;
  }
}

.sForm {
  &--consult {
    h2 {
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(50);
      }
    }
    .form-wrap {
      @include media-breakpoint-down(md) {
        padding-top: rem(40);
      }
    }

    p {
      margin: auto;
      margin-bottom: rem(40);
    }
    .small {
      text-align: center;
      max-width: rem(240);
      margin: auto;
      opacity: .5;
      line-height: 98%;
      letter-spacing: -0.05em;
      @include media-breakpoint-up(lg) {
        text-align: start;
        margin-right: 0;
        max-width: rem(230);
      }
    }
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(13);
    margin-bottom: rem(20);
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
    .form-group {
      width: 100%;
    }
    .btn {
      width: 100%;
      @include media-breakpoint-up(lg) {
        min-width: rem(240);
        flex-shrink: 0;
      }
    }
  }
}
