
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center: h2 Оставьте заявку и мы<br>скоро с вами свяжемся
				.form-wrapper
					+input("*Ваше имя ",'text')
						img(src="img/user.svg", alt="").input-icon
					+input("*Номер телефона ",'tel')
						img(src="img/phone-2.svg", alt="").input-icon
					+input("E-mail ",'email')
						img(src="img/email.svg", alt="").input-icon
				.text-center
					.small.fw-500 Нажимая на кнопку “Отправить заявку” вы соглашаетесь с обработкой персональных данных
					+e.btn.btn.btn-primary(type="submit") Отправить заявку
						+icon('arrow-angle-right')

	// #modal-call

	
	// end modals