mixin sCatalogHead(data)
	// start sCatalogHead
	+b.SECTION.sCatalogHead.section#sCatalogHead&attributes(attributes)
		.container
			+block-with-img('catalog-head')
				h1 Каталог товаров
				p Список пополняется — мы постоянно работаем над интеграцией новых систем в платформу Unimon  
			ul.scroll-link
				li: a(href='#cat-0') Контроллеры
				li: a(href='#cat-1') Радиомодули
				li: a(href='#cat-2') Датчики микроклимата
				li: a(href='#cat-3') Прочие датчики
				li: a(href='#cat-4') Дополнительное оборудование

	// end sCatalogHead