mixin sCatalogHead(data)
	// start sCatalogHead
	+b.SECTION.sCatalogHead.section#sCatalogHead&attributes(attributes)
		.container
			+block-with-img('catalog-head')
				h1 Каталог товаров
				p Список пополняется — мы постоянно работаем над интеграцией новых систем в платформу Unimon  

	// end sCatalogHead