// start .sCatalogHead
.sCatalogHead {
	// --sPT: #{rem()};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}

  .scroll-link {
    display: flex;
    align-items: center;
    list-style-type: none;
    // flex-wrap: wrap;
    margin-left: rem(2);
    @include media-breakpoint-down(lg) {
      display: none;
    }
    a {
      font-size: 20px;
      letter-spacing: -0.05em;
      color: #656565;
      &:hover {
        color: $primary;
      }
    }
    li {
      text-align: center;
      line-height: 100%;
      padding-right: rem(35);
      margin-right: rem(29);
      position: relative;
      &:not(:last-child):after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: rem(24);
        background: #a8a8a8;
      }
    }
  }

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(lg) {
		.block-with-img {
			text-align: center;
			display: block;
			&__caption {
				padding: rem(40) rem(30);
				padding-bottom: 0;
				max-width: none;
			}
		}
	}
} // end.sCatalogHead

.block-with-img {
	display: flex;
	margin-bottom: rem(40);
	// align-items: center;
	justify-content: space-between;
  img {
    max-height: rem(129);
		@include media-breakpoint-up(lg) {
      max-height: none;
    }
  }
	@include media-breakpoint-up(xl) {
		picture {
			flex: 0 0 auto;
		}
		img {
			max-width: none;
		}
	}
	picture {
		align-self: flex-end;
	}
	&__caption {
		align-self: center;
		max-width: rem(604);
		padding: rem(48) rem(30);
		padding-right: 0;
		@include media-breakpoint-up(lg) {
			padding: rem(48) rem(90);
			padding-right: 0;
			margin-right: rem(-60);
		}
		p {
			font-size: 1rem;
			@include media-breakpoint-up(lg) {
				margin-top: rem(60);
			}
		}
	}

	background: linear-gradient(
		241.78deg,
		#8cb6c2 8.75%,
		rgba(255, 255, 255, 0) 172.25%
	);
  background: linear-gradient(220deg, #8CB6C3 0%, #e0eef2 100%);
	border-radius: 24px;
}
