@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-down {
	$h: 10;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(12 / #{$h} *1em );
}
.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-calendar {
	$h: 12;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(11 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-fb {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(31 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-search {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(17 / #{$h} *1em );
}
.icon-telegram {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-user {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-x {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(31 / #{$h} *1em );
}
.icon-youtube {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
