// start .headerBlock
.headerBlock {
	// --sPT: #{rem(26)};
	--sPT: #{rem(8)};
	--sPB: #{rem(0)};
  @include media-breakpoint-up(xl) {
    --sPT: #{rem(0)};
  }
	// --sTPB: #{rem()}; 
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);

	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
  h1 {
    line-height: 107%;
    max-width: rem(1100);
    font-size: rem(36);
    @include media-breakpoint-up(lg) {
      font-size: rem(70);
    }
  }
	&__col{

	}
  &__img-wrap {
    border-radius: $border-radius-lg;
    overflow: hidden;
    position: relative;
    aspect-ratio: 442/263;
    @include media-breakpoint-up(md) {
      aspect-ratio: 1350/523;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(195deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
	&__item{

	}
	&__slide{
		height: auto;
	}

  &--light {
    .headerBlock__img-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-up(md) {
        aspect-ratio: 1350/447;
      }
      &::after {
        z-index: 0;
        background: $gradient-white;
      }
      img {
        max-width: 55%;
        position: relative;
        z-index: 2;
      }
    }

  }

  &--main {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.712) 0%, rgba(140,182,194,1) 100%);
	--sTPB: #{rem(32)};
	--sPB: #{rem(32)};
	--sPT: #{rem(90)};
    @include media-breakpoint-up(lg) {
      --sPT: #{rem(54)} !important;
    }

    .headerBlock {
      &__sub-text {
        margin-bottom: rem(32);
        font-size: rem(16);
        line-height: 132%;
        letter-spacing: -0.05em;
        opacity: .6;
        @include media-breakpoint-up(lg) {
          margin-bottom: rem(48);
          font-size: rem(28);
        }
      }

      &__features-wrap {
        display: flex;
        gap: rem(4);
        justify-content: space-between;
        max-width: rem(500);
        margin: auto;
        @include media-breakpoint-up(lg) {
          max-width: rem(960);
        }
        @include media-breakpoint-down(sm) {
          flex-wrap: wrap;
          justify-content: center;
        }
      }

      &__btn {
        font-size: rem(14);
        --bs-btn-padding-y: #{rem(20)};
        --bs-btn-padding-x: #{rem(43)};
        margin-bottom: rem(74);
        @include media-breakpoint-up(lg) {
          font-size: rem(16);
          margin-bottom: rem(60);
        }

      }
    }
  }

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.feature-span-item {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: rem(5);
  align-items: center;
  border-radius: rem(8);
  padding: rem(10) rem(8);
  @include media-breakpoint-up(lg) {
    padding: rem(15);
  }
  .span {
    font-weight: 500;
    line-height: 1;
    font-size: rem(30);
    @include media-breakpoint-up(lg) {
      font-size: rem(55);
    }
  }
  .svg {
    max-width: rem(35);
    @include media-breakpoint-up(lg) {
      max-width: rem(52);
    }
  }

  .wrap {
    @include media-breakpoint-up(lg) {
      padding: 0 rem(10);
      padding-right: rem(20);
    }
  }

  &__text-wrap {
    @include media-breakpoint-up(lg) {
      padding-left: rem(20);
      position: relative;
      padding-right: rem(20);
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: rem(26);
        background: $gray-200;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(12);
    line-height: 125%;
    letter-spacing: -0.05em;
    opacity: .4;
    color: $gray-600;
    @include media-breakpoint-up(lg) {
    // font-weight: 600;
    font-size: rem(16px);
    }
  }
}