mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.img-wrap: +img('img/header-bg.png', 'bg')
	// end headerBlock

mixin headerBlock2()
	// start headerBlock
	+b.headerBlock--light.section#headerBlock&attributes(attributes)
		.container
			+e.img-wrap: +img(src="img/Dodo-Logo.svg", alt="")
	// end headerBlock


mixin headerMain()
	+b.headerBlock--main.section#headerBlock&attributes(attributes)
		.container
			.text-center
				+b.section-title
					h1 Российские системы мониторинга температуры, влажности, СO2 и других показателей
				+e.sub-text “Коробочные“ решения для бизнеса.<br>Разрабатываем. Производим. Устанавливаем.
				+e.btn.btn.btn-primary Получить консультацию
			+e.features-wrap
				+featureSpanItem('5', 'лет на', 'рынке')
				+featureSpanItem('8000+', 'датчиков онлайн', 'по РФ и СНГ')
				+featureSpanItemSVG('gost','в госреестрах СИ')

mixin featureSpanItem(span, text1, text2)
	+b.feature-span-item(data-aos="flip-down", data-aos-duration="500", data-aos-delay="0")
		.wrap: .span.text_gradient= span
		+e.text-wrap
			+e.text= text1
			+e.text= text2

mixin featureSpanItemSVG(svg, text)
	+b.feature-span-item--svg(data-aos="flip-down", data-aos-duration="500", data-aos-delay="0")
		.wrap: +img(src=`img/${svg}.svg`, alt="").svg
		+e.text-wrap
			+e.text= text
			+img(src=`img/flags.svg`, alt="")