extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalogHead/_sCatalogHead.pug
include ../blocks/sCatalogBody/_sCatalogBody.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Каталог товаров'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('', title)
		+sCatalogHead
		+sCatalogBody
		+sForm2
	+parts('footer')