extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sProperties/_sProperties.pug
include ../blocks/sDepartments/_sDepartments.pug
include ../blocks/sProductSlider/_sProductSlider.pug
include ../blocks/sMonitoring/_sMonitoring.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sSoft/_sSoft.pug
include ../blocks/sTableS/_sTableS.pug
include ../blocks/sFeatures/_sFeatures.pug
include ../blocks/sCatalogBlock/_sCatalogBlock.pug
include ../blocks/sPromo/_sPromo.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSystems/_sSystems.pug
include ../blocks/sClients/_sClients.pug
include ../blocks/sControl/_sControl.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()

	+parts('header')
	main
		.main-wrap
			+headerMain
			+sControl
			+sSoft
			+sProperties2
			+sProperties
			+sFeatures
			+sTitleSection
			+sTitleSection2
			+sTableS
			+sProductSlider
			+sProductSlider2
			+sCatalogBlock
			+sPromo
			+sSystems
			+sDepartments
			+sMonitoring
			+sServices
			+sClients
	+footer2
