extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sProperties/_sProperties.pug
include ../blocks/sDepartments/_sDepartments.pug
include ../blocks/sProductSlider/_sProductSlider.pug
include ../blocks/sMonitoring/_sMonitoring.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sSoft/_sSoft.pug
include ../blocks/sTableS/_sTableS.pug
include ../blocks/sFeatures/_sFeatures.pug
include ../blocks/sCatalogBlock/_sCatalogBlock.pug
include ../blocks/sPromo/_sPromo.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSystems/_sSystems.pug
include ../blocks/sControl/_sControl.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.main-wrap
			+headerMain
			+sControl
			+sSoft
			+sProperties2
			+sProperties
			+sFeatures
			+sTitleSection
			+sTableS
			+sProductSlider
			+sProductSlider2
			+sCatalogBlock
			+sPromo
			+sSystems
			+sDepartments
			+sMonitoring
			+sServices
		//- +sCatalog
		//- +sForm()
		//- +sContact()
		
	+footer
		.container
			+b.footer-form.section
				+e.row.row
					+e.text-block.col 
						+e.footer-title  Нет затрат на приобретение сервера, 
							span лицензий ПО и зарплатусистемному администратору
						+e.footer-text.small Список пополняется — мы постоянно работаем над интеграцией новых систем в платформу Unimon
					+e.col.col-xl-auto
						+form-wrap.--base.--light
							+e.head-row.row
								.col-auto
									+e.title Мы ищем партнеров!
								.col-sm
									.small Получить коммерческое предложение для дистрибьюторов
							.row
								.col-md-6
									+input("Ваше имя") 
										img(src="img/user.svg", alt="").input-icon
								.col-md-6
									+input("E-mail",'email') 
										img(src="img/email.svg", alt="").input-icon
								.col-md-6
									+input("Ваш номер телефона",'tel') 
										img(src="img/phone-2.svg", alt="").input-icon
								.col-md-6
									+input("Страна")
								.col-md-12
									+input("Сообщение","textarea")

							+e.footer-row.row
								+e.col-text.small.col
									| Нажимая на кнопку “Отправить заявку” вы соглашаетесь с обработкой персональных данных
								+e.col.col-auto
									+e.btn.btn.btn-primary(type="submit") Отправить заявку
										+icon('arrow-angle-right')