
	// start .topLine
.topLine {
  background: $blue-300;
  --sPT: #{rem(0)};
	--sPB: #{rem(2)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}

	.section-title{
		
	}
	&__col{

	}

  &__wrapper {
    width: max-content;
  }

  &__contacts {
    font-weight: 500;
    font-size: rem(14);
    line-height: 114%;
    letter-spacing: -0.05em;
    color: $gray-600;
    margin-right: rem(16);
    &:not(:last-child) {
      margin-right: rem(28);
      margin-left: rem(10);
    }
    &:hover {
      background: $gradient-dark;
      background-clip: text;
      color: transparent;
    }
    &:active {
      opacity: .5;
    }
  }

  &__link {
    margin-right: rem(10);
  }

	&__item{

	}
	&__slide{
		height: auto;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine