mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.wrapper.ms-auto
				+e.link(href='#'): +img(src="img/youtube.svg", alt="")
				+e.link(href='#'): +img(src="img/telegram.svg", alt="")
				+e.contacts(href="tel:+79682864967") Телефон
				+e.contacts(href='mailto:unimon@mail.ru') Email


	// end topLine