// start .sSafety
.sSafety {
	// --sPT: #{rem()};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
    @include media-breakpoint-up(xl) {
      --sPT: #{rem(70)};
      --sTPB: #{rem(130)};
      --sPB: #{rem(90)};
    }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}

  .h1 {
    margin-bottom: rem(18);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(26);
    }
  }

  .sub-title {
    font-size: rem(14);
    line-height: 136%;
    letter-spacing: -0.05em;
    max-width: rem(270);
    margin: auto;
    color: $gray-600;
    opacity: .4;
    @include media-breakpoint-up(lg) {
      font-size: rem(28);
      max-width: rem(450);
    }
  }
	&__cards-wrap {
		display: flex;
    flex-direction: column;
    // gap: rem(56);
    max-width: rem(350);
    margin: auto;

    @include media-breakpoint-up(xl) {
      max-width: none;
      flex-direction: row;
      justify-content: space-evenly;
    }
	}

	&__item {
    font-weight: 500;
    font-size: rem(16);
		transform: translate(-30px,-40px);
    padding: rem(9) rem(22);
    border-radius: rem(35);
    border: 1px dashed #1e6999;
    width: max-content;
    margin: auto;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSafety

.safety-card {
  display: flex;
  align-items: start;
  gap: rem(30);
  position: relative;
  padding-top: rem(10);
  padding-bottom: rem(38);
  margin-bottom: rem(10);
  overflow: hidden;
  &:nth-child(3) {
    .plus-cont {
      left: 63% !important;
    }
  }


  @include media-breakpoint-up(xl) {
    flex-direction: column;
    overflow: visible;
    max-width: rem(370);
    padding-right: rem(30);
    .plus-cont {
      position: absolute;
      top: rem(-24);
      left: 56%;
    }
    .plus {
      position: relative;
    }

    &:not(:last-child) .plus::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 5px);
      z-index: 1;
      border: 1px solid $blue-600;
      border-radius: 50%;
    }
  }

  &:nth-child(3) {
    padding-bottom: rem(10);
    margin-bottom: 0;
  }

  &__title {
    font-weight: 500;
    font-size: rem(14);
    line-height: 143%;
    letter-spacing: -0.06em;
    color: $blue-600;
    margin-bottom: rem(10);
    @include media-breakpoint-up(lg) {
      font-size: rem(20);
      line-height: 130%;
    }
    @include media-breakpoint-up(xxl) {
      margin-bottom: rem(40);
    }
  }

  &__img-wrap {
    padding: rem(10) 0 rem(14);
    margin-top: rem(-18);
    background: $white;
    padding-right: rem(10);
    
    @include media-breakpoint-up(xl) {
      margin-top: rem(-30);
      .img {
        height: rem(60);
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(12);
    opacity: .4;
    @include media-breakpoint-up(lg) {
      font-size: rem(18);
      line-height: 117%;
    }
    @include media-breakpoint-up(xl) {
      max-width: rem(220);
    }
  }

  .line {
    position: absolute;
    left: 14px;
    bottom: 0;
    z-index: -1;
    @include media-breakpoint-up(xl) {
      top: 15px;
      bottom: auto;
      left: auto;
      right: 10px;
    }
  }

  &:has(.img-big) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      background: $white;
      width: 20px;
      height: 60px;
      @include media-breakpoint-up(xxl) {
        left: -60px;
      }
    }
  }
  .img-big {
    margin-top: -33%;
    position: relative;
  }

}

.popover {
  --bs-popover-border-radius: #{rem(35)} !important;
  --bs-popover-body-padding-x: #{rem(22)} !important;
  --bs-popover-body-padding-y: #{rem(9)} !important;
  
  --bs-popover-border-color: #{#1e6999} !important;
  --bs-popover-font-size: #{rem(16)} !important;
  margin-bottom: rem(15) !important;
  border-style: dashed !important;
  .popover-body {
    font-weight: 500 !important;
    background: $gradient-dark;
    background-clip: text;
    color: transparent;
    display: inline-block;
    letter-spacing: -0.06em;
  }
  .popover-arrow {
    display: none !important;
  }
}