mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//	мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					a(href="#"):  +img(src="img/logo-dark.png", alt="").logo
				.col.order-lg-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+e.btn.btn.btn-sm.btn-light(href='#').d-lg-none
								+icon('user')
								| Вход в систему
							+mnu()
							+e.link-contacts.d-lg-none
								+e.contacts(href="tel:+79682864967") + 7 968 286 49 67
								+e.contacts(href='mailto:unimon@mail.ru') unimon@mail.ru
							+e.social.d-lg-none
								+e.link-item(href='#'): +icon('telegram')
								+e.link-item(href='#'): +icon('youtube')
				.col-auto
					+e.btn.btn.btn-outline-secondary(href='#').d-none.d-lg-inline-flex
						| Справочник
						+icon('quest')
					+e.btn.btn.btn-primary(href='#').d-none.d-lg-inline
						| Вход в систему
						+icon('user')
				.col-auto.d-lg-none.ms-auto
					+e.social
						+e.link-item.link-item_outlined(href="tel:+79682864967"): +img(src="img/phone.svg", alt="")
						+e.link-item.link-item_outlined(href='#'): +img(src="img/message.svg", alt="")
						+menu-toggle()
	// end top-nav