 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		outline: none !important;
		padding-left: rem(35);
		padding-top: rem(4);
		padding-bottom: rem(4);
    border-color: $gray-200;
    border-radius: $border-radius-sm;
	}
	.icon{
		font-size: rem(20);
		border: none !important;
    fill: $gray-700;
	}
	button{
		position: absolute;
		left: 5px;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}


.share-links {
  background: $gradient-dark;
  border-radius: $border-radius;
  padding: rem(16) rem(20);
  padding-bottom: rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(15);
  position: relative;
  overflow: hidden;
  margin-bottom: rem(22);
  &::after {
    content: '';
    position: absolute;
    background: $white;
    width: rem(300);
    height: rem(200);
    opacity: .1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%)  rotate(125deg);

  }
  @include media-breakpoint-up(lg) {
    align-items: flex-start;
  }

  &__title {
    color: $white;
  }
  img:not(:last-child) {
    margin-right: rem(20);
  }
}

.calculateCost {
  background: $gradient-dark;
  border-radius: $border-radius;
  padding: rem(63) rem(20) 0;
  position: relative;
  min-height: rem(420);
  overflow: hidden;
  text-align: center;
  margin-bottom: rem(22);
  box-shadow: $box-shadow;

  &__title {
    font-weight: 600;
    font-size: rem(24);
    line-height: 101%;
    letter-spacing: -0.06em;
    text-align: center;
    color: $white;
    margin-bottom: rem(40);
  }

  &__btn {
    margin: auto;
  }

  img {
    position: absolute;
    bottom: -30%;
    max-width: 100%;
  }

  .img-left {
    left: rem(-150px);
  }

  .img-right {
    bottom: -20%;
    right: rem(-120px);
  }

}