mixin sProperties(data)
	// start sProperties
	+b.SECTION.sProperties.section#sProperties&attributes(attributes)
		.container
			+b.section-title.text-center
				.h1 Профессиональный функционал для бизнес-задач
			+e.row.row
				+e.col.col-12.col-xl-7.order-xl-2
					+e.img-wrap: +img(src="img/properties-img.png", alt="").m-left
				+e.col.col-12.col-xl-5
					+ddGroup
						+ddGroupItem('Хранение и выгрузка данных до 5 лет', 'active')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Уникальная система обработки тревог')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Отображение объектов на карте')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Показатели на схеме объекта')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Таблица с актуальными показателями')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Простая самостоятельная настройка')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
	// end sProperties

mixin sProperties2(data)
	// start sProperties
	+b.SECTION.sProperties.bg_blue.section#sProperties2&attributes(attributes)
		.container
			+e.row-center.row
				+e.col.col-12.col-lg-6.order-lg-2
					+e.img-wrapper.d-none.d-lg-block
						+img(src="img/properties-img-2.png", alt="").img
						+spanWrapper
				+e.col.col-12.col-lg-6
					.title-wrap.mb: .h1 Простой интерфейс и ничего лишнего
					+e.img-wrapper.img-wrapper--mob.d-lg-none.text-center
						+img(src="img/properties-img-mobile-2.png", alt="")
						+spanWrapper
					+e.btn-wrap
						+e.btn.btn.btn-primary(href='#') Получить демо-доступ
							+icon('arrow-angle-right')
						+e.btn.btn.btn-outline-primary(href='#') Подробнее
					+e.cert-wrapper: +cardCertificate('eagle', 'В госреестре отечественного программного обеспечения', '№12345-2024')

mixin spanWrapper
	.span-wrapper-bg: .span

mixin cardCertificate(img, text, number)
	+b.card-certificate
		+img(src=`img/${img}.svg`, alt="")
		+e.descr-wrap
			+e.text.text_gradient= text
			+e.number.text_gradient= number