mixin sProperties(data)
	// start sProperties
	+b.SECTION.sProperties.section#sProperties&attributes(attributes)
		.container
			+b.section-title.text-center
				.h1 Профессиональный функционал для бизнес-задач
			+e.row.row
				+e.col.col-12.col-lg-5.order-lg-2
					+e.img-wrap: +img(src="img/properties-img.png", alt="")
				+e.col.col-12.col-lg-7
					+ddGroup
						+ddGroupItem('Хранение и выгрузка данных до 5 лет', 'active')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Уникальная система обработки тревог')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Отображение объектов на карте')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Показатели на схеме объекта')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Таблица с актуальными показателями')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
						+ddGroupItem('Простая самостоятельная настройка')
							p Кроме среднего значения, отображается минимум и максимум, что существенно упрощает восприятие графиков
	// end sProperties