mixin sTableS(data)
	// start sTable
	+b.SECTION.sTableS.bg_dark-blue-920.section#sTable&attributes(attributes)
		+img(src="img/bg-2.png", alt="").img
		.container
			+b.section-title.d-lg-none(data-aos="fade-up")
				.h2 Радиосвязь LoRa пробивает любые стены
			+e.row.row(data-aos="fade-up")
				+e.col.col-12.col-lg-7
					.table-wrap
						table
							thead
								tr
									th
									th
										+tableHeadTh('bluetooth', 'Bluetooth')
									th
										+tableHeadTh('wifi2', 'Wi-Fi')
									th
										+tableHeadTh('z', 'ZigBee')
									th
										+tableHeadTh('lora', 'LoraWAN')
							tbody
								tr
									td Гипсокартон
									td: .status.status_full
									td: .status.status_full
									td: .status.status_full
									td: .status.status_full
								tr
									td Кирпич
									td: .status.status_partly
									td: .status.status_partly
									td: .status.status_full
									td: .status.status_full
								tr
									td Холодильник
									td: .status.status_partly
									td: .status.status_partly
									td: .status.status_full
									td: .status.status_full
								tr
									td Железобетон
									td: .status.status_partly
									td: .status.status_partly
									td: .status.status_full
									td: .status.status_full
								tr
									td Сэндвич панели морозильных камер
									td: .status.status_empty
									td: .status.status_empty
									td: .status.status_empty
									td: .status.status_full
				+e.col.col-12.col-lg-5
					+b.section-title.d-none.d-lg-block
						.h2 Радиосвязь LoRa пробивает любые стены
					+b.form-send-wrapper
						+e.text Оставьте заявку, если вам необходима проводная система мониторинга
						+e.btn.btn.btn-outline-light(href='#') Отправить заявку
	// end sTable

mixin tableHeadTh(img, text)
	+b.thead.text-center
		+img(src=`img/${img}.svg`, alt="")
		+e.text= text

	// end sTable

mixin sTitleSection(data)
	// start sTable
	+b.SECTION.sTitleSection.bg_dark-blue-920.section#sTitleSection&attributes(attributes)
		+img(src="img/ellipse.svg", alt="").ellipse
		.container
			+e.row.row(data-aos="fade-up")
				+e.col.col-12.col-lg-8
					+b.section-title
						.h1 Разрабатываем и производим беспроводные решения
					+e.btn.btn.btn-outline-light(href='#') Подробнее
				+e.col.col-12.col-lg-4
					+e.img-wrap: +img(src="img/title-bg.png", alt="")

mixin sTitleSection2(data)
	// start sTable
	+b.SECTION.sTitleSection.bg_dark-blue-920.section#sTitleSection2&attributes(attributes)
		.container
			+e.row.row(data-aos="fade-up")
				+e.col.col-12.col-lg-7
					+b.section-title
						.h2 Используем международный стандарт LoraWan
						+e.text Обеспечивает совместимость с оборудованием других производителей
				+e.col.col-12.col-lg-5.d-none.d-lg-block
					+e.img-wrap: +img(src="img/bg-3-big.png", alt="").img-desktop
				+e.col.col-12.col-lg-9
					+e.cards-wrap
						+loraCard('signal', '1', 'км', 'дальность по прямой')
						+loraCard('frequency', '868', 'МГц', 'нелицензируемая частота')
						+loraCard('charger', '4', 'года', 'работы от батарейки')
		+img(src="img/bg-3.png", alt="").img.d-lg-none

mixin loraCard(img, num, span, text )
	+b.lora-card(data-aos="flip-down", data-aos-duration="600", data-aos-delay="400")
		+img(src=`img/${img}.svg`, alt="")
		+e.title #[span= num ] #{span}
		+e.text= text