mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
				
			+e.row.row
				+e.col-main.col-lg-9
					+e.item
						+b.section-title
							h2 Значение мониторинга температуры и влажности на продовольственном складе
						+articlePart('Введение', 'На продовольственном складе поддержание оптимальных условий хранения является ключевым моментом для обеспечения качества и безопасности продуктов. ')
							p Одним из важных аспектов в этом процессе является <a href='#'>	мониторинг температуры и влажности</a>. В данной статье рассмотрим, почему контроль этих параметров необходим, как правильно подготовиться к установке системы мониторинга, какие варианты контроля ТиВ существуют, почему беспроводная система предпочтительнее проводной, а также какие могут быть подводные камни в вопросе мониторинга ТиВ.
						+articlePart('Зачем нужно контролировать температуру и влажность на складе?', 'Продукты, хранимые на складе, подвержены различным воздействиям, включая изменения температуры и влажности. Несоблюдение оптимальных условий хранения может привести к снижению качества продуктов, потере питательных свойств, а в некоторых случаях даже к размножению бактерий и развитию патогенных микроорганизмов, что представляет угрозу для здоровья потребителей. Контроль температуры и влажности на складе не только обеспечивает безопасность и качество продуктов, но и помогает предотвратить потери и уменьшить риски для бизнеса.')
						+articlePart('Как правильно подготовиться к установке системы мониторинга?', 'Продукты, хранимые на складе, подвержены различным воздействиям, включая изменения температуры и влажности. Несоблюдение оптимальных условий хранения может привести к снижению качества продуктов, потере питательных свойств, а в некоторых случаях даже к размножению бактерий и развитию патогенных микроорганизмов, что представляет угрозу для здоровья потребителей. Контроль температуры и влажности на складе не только обеспечивает безопасность и качество продуктов, но и помогает предотвратить потери и уменьшить риски для бизнеса.')
						+articlePart('Почему лучше выбрать беспроводную систему?', 'В настоящее время все более популярным становится использование беспроводных систем мониторинга. Эти системы предлагают ряд преимуществ, включая:')
							ol
								+listItem('Гибкость в размещении: ', 'Датчики могут быть установлены в любом месте склада без ограничений длины проводов.')
								+listItem('Легкость установки: ', 'Беспроводные системы не требуют сложной проводки, что упрощает процесс установки')
								+listItem('Удаленный доступ: ', 'Беспроводные системы позволяют мониторить данные удаленно через интернет, что обеспечивает удобство управления')
								+listItem('Масштабируемость: ', 'Системы легко масштабируются при необходимости добавления дополнительных датчиков или расширения площади мониторинга')
						+articlePart('Какие могут быть подводные камни в вопросе мониторинга ТиВ?', 'Несмотря на многочисленные преимущества, беспроводные системы мониторинга ТиВ также могут иметь свои недостатки. Неправильная установка или конфигурация системы может привести к недостоверным данным или потере связи с датчиками. Также следует учитывать возможные интерференции или помехи, которые могут повлиять на качество передачи данных в беспроводных сетях.')
						+articlePart('Заключение', 'Мониторинг температуры и влажности на продовольственном складе является важным аспектом поддержания качества и безопасности хранящихся продуктов. Выбор и установка системы мониторинга требует тщательного планирования и подготовки, а также учета особенностей конкретного склада и условий его эксплуатации. Использование современных технологий, таких как беспроводные системы мониторинга, может значительно упростить процесс контроля и обеспечить более эффективное управление условиями хранения на складе.')
				+e.col-aside.col-12.col-lg-3
					+e.item
						p aside
					+e.item
	// end sArticle

mixin articlePart(title, text)
	+b.articlePart
		h4= title
		p= text
		if block
			block 

mixin listItem(span, text)
	+b.LI.listItem
		span= span
		| #{text}
