// start .sArticle
.sArticle {
	--sPT: #{rem(16)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(29)};
	@include media-breakpoint-up(md) {
    --sPT: #{rem(21)};
    --sTPB: #{rem(29)};
  }
	
	&__row{
		--bs-gutter-x: #{rem(12)};
		--bs-gutter-y: #{rem(21)};
    margin-bottom: rem(28);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(50);
    }
	}
  h2 {
    font-weight: 700;
    @include media-breakpoint-up(md) {
      font-size: rem(40);
    }
  }
	.section-title{
		
	}
  &__header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(24);
    flex-wrap: wrap;
    gap: rem(14);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(30);
      flex-wrap: nowrap;
    }
  }

  &__badges {
    margin-bottom: rem(25);
  }

  &__group {
    display: flex;
    .link {
      padding: rem(5) rem(15);
      color: $blue-600;
      background: $blue-300;
      border-radius: $border-radius-lg;
      @include media-breakpoint-up(md) {
        font-size: rem(14);
        padding: rem(8) rem(33);
      }
    }
  }

  &__date {
    padding-right: rem(15);
    margin-right: rem(15);
    position: relative;
    font-size: rem(10);
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      font-size: rem(12);
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: rem(12);
      background: black;
      opacity: .5;
    }
    .icon {
      margin-right: rem(7);
      font-size: rem(14);
    }
  }

	&__col{
		
	}

  &__title-block {
    margin-bottom: rem(38);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(54);
    }
  }

  &__desciption {
    font-size: 14px;
      letter-spacing: -0.05em;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    ol {
      padding-left: rem(16);
    }
    li {
      margin-bottom: rem(20);
    }
  }

	&__item {
		padding: rem(21) rem(28);
    background: $white;
    border-radius: $border-radius-md;
    border: 1px solid $gray-100;
    box-shadow: $box-shadow;
    @include media-breakpoint-up(lg) {
      padding: rem(39) rem(44);
    }
	}

  &__col-aside {
    .sArticle__item {
      padding: rem(28) rem(34);
      margin-bottom: rem(22);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .title {
      font-weight: 500;
      margin-bottom: rem(24);
    }
    ul {
      list-style-type: none;
    }
    li {
      margin-bottom: rem(26);
      a {
        color: $dark;
        font-size: rem(12);
        line-height: 133%;
        display: inline-block;
        &:hover {
          color: $blue-600;
        }
      }
    }
  }


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticle

.articlePart {
  margin-bottom: rem(50);
  .h4 {
    margin-bottom: rem(40);
    max-width: rem(665);
  }
  a {
    text-decoration: underline;
    &:hover {
      color: $black;
    }
  }

  &__img-wrap {
    height: rem(275);
    @include media-breakpoint-up(md) {
      height: rem(308);
    }
    img {
      border-radius: $border-radius-md;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  figcaption {
    line-height: 142%;
    text-align: center;
    color: $primary;
    padding-top: rem(19);
    max-width: rem(310);
    margin: auto;
    @include media-breakpoint-up(md) {
      font-size: rem(12);
      max-width: rem(450);
    }
  }
}

.listItem {
  margin-bottom: rem(31);
  display: flex;
  align-items: center;
  gap: rem(18);
	@include media-breakpoint-up(md) {
    gap: rem(30);
  }

  span {
    font-weight: 500;
  }

  .numb {
    position: relative;
    flex-shrink: 0;
    width: rem(22);
    text-align: center;
    font-size: rem(14);

    &:after {
      content: '';
      position: absolute;
      width:  rem(22);
      height:  rem(22);
      top: 0;
      left: 0;
      border: 1px solid inherit;
      border-radius: 50%;
    }
  }

  &--disc {
    align-items: flex-start;
    position: relative;
    &:not(:last-child):after {
      content: '';
      position: absolute;
      top: rem(6);
      left: rem(4);
      width: 1px;
      height: calc(100% + rem(32));
      background: $gradient-light;
      z-index: 0;
    }

    .numb {
      background: $white;
      width:  rem(10);
      height:  rem(24);
      transform: translateY(6px);
      z-index: 1;
      &:after {
        top: rem(7);
        width:  rem(8);
        height:  rem(8);
        border:none;
        background: $gradient-light;
        border-radius: 50%;
      }
    }
  }
}

.badge {
  color: $primary;
  background: $blue-300;
  border-radius: $border-radius-md;
  padding: rem(2) rem(5);
  @include media-breakpoint-up(md) {
    font-size: rem(14);
    padding: rem(2) rem(10);
  }
}

.badge_white {
  background: $white;
  border-radius: $border-radius-md;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  padding: rem(10) rem(14);
  font-size: rem(12);
  display: inline;
  &:not(:last-child) {
    margin-right: rem(8);
  }
}

.table-wrap {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;

  table {
    width: 100%;
    border-radius: $border-radius;
    overflow: hidden;
    font-size: rem(14);
    border-color: $gray-400;
  }

  thead {
    background: $gradient-dark;
  }

  th {
    color: $white;
    padding: rem(16) rem(20);
  }

  tbody tr:nth-of-type(even) {
    background: $blue-300;
  }

  tr {
    th {
      width: 25%;
      min-width: rem(206);
      font-weight: 700;
      border: none;
    }
  }

  td {
    padding: rem(16) rem(20);
    color: $gray-800;
    border: 1px solid $gray-300;
  }
}


.read-more {
  .swiper-slide {
    height: auto;
  }
  .h3 {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
  @include media-breakpoint-down(md) {
    .blog-card__title {
      font-size: rem(14);
    }
    .blog-card__text {
      font-size: rem(10);
    }
    .blog-card__footer {
      font-size: rem(8);
    }
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    @include media-breakpoint-up(lg) {
      width: calc(26% - 8px) !important;
    }
  }
  .swiper-slide:last-child {
    @include media-breakpoint-up(lg) {
      width: calc(20% + 8px) !important;
    }
  }
  .swiper-wrapper {
    padding-top: rem(34);
    padding-bottom: rem(40);
    @include media-breakpoint-up(md) {
      padding-bottom: rem(56);
    }
    @include media-breakpoint-down(md) {
      width: 60%;
    }
  }
  .blog-card {
    @include media-breakpoint-down(md) {
      padding: rem(20);
      padding-bottom: rem(30);
      min-height: auto;
    }
  }
}