
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				if !link.subnav
					li.menu-item(itemprop="item"): a(href= link.url itemprop="url")= link.name
				if link.subnav
					li.menu-item.menu-item-has-children
						a(href="#" itemprop="url")= link.name
							+icon('arr-down')
						each subnavGroup in link.subnav
							ul.sub-menu
								each sublink in subnavGroup
									if sublink.subnav
										li.menu-item-last
											a(href="#" itemprop="url").menu-item-last__title= sublink.name
											ul
												each subSublink in sublink.subnav
													li(itemprop="item").menu-item-last__link
														a(href= subSublink.url itemprop="url")= subSublink.name
			li.menu-item.d-lg-none(itemprop="item"): a(href='#' itemprop="url") Справочник

//- menu